@using MVC_StokTakipOtomasyonu2.Models.Entity

@model List<MVC_StokTakipOtomasyonu2.Models.Entity.Kategoriler>

<table class="table table-bordered">
    <thead style="background-color:aliceblue">
        <tr>
            <td>ID</td>
            <td>Kategori</td>
            <td>Açıklama</td>
            <td>Sil</td>
            <td>Güncelle</td>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
    <thead style="background-color: lightsteelblue">
        <tr>
            <td>@item.ID</td>
            <td>@item.Kategori</td>
            <td>@item.Aciklama</td>
            <td><a href="/Home/SilBilgiGetir/@item.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Home/GuncelleBilgiGetir/@item.ID" class="btn btn-warning">Güncelle</a></td>

        </tr>
    </thead>

        }

    </tbody>

</table>

<a href="/Home/Ekle/" class="btn btn-success" style="margin-top:10px;">Kategori Ekle</a>
