<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="~/assets/img/intro.jpg" alt="..." />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Stok Takip</span>
                    <span class="section-heading-lower">Otomasyonu</span>
                </h2>
                <p class="mb-3">Müşteri siparişleri depolara iletilir ve depo personeli doğru ürünleri doğru miktarlarda toplayarak siparişleri hazırlar. Hazırlanan siparişler uygun ambalaj malzemeleri kullanılarak paketlenir ve kargo şirketine teslim edilir. Son olarak, kargo şirketi aracılığıyla paketlenen siparişler müşterilere ulaştırılır.</p>
                <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="#!">Sipariş Ver!</a></div>
            </div>
        </div>
    </div>  
</section>
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Sözümüz</span>
                        <span class="section-heading-lower">Sizlere</span>
                    </h2>
                    <p class="mb-0">Depolardan sipariş toplama ve yönetme süreci, doğru stok yönetimi, hızlı işlemler, verimli depo operasyonları ve müşteri memnuniyeti sağlamak için önemlidir. Bu süreç, işletmemizin başarısı için etkin bir şekilde yönetilmektedir.</p>
                </div>
            </div>
        </div>
    </div>
</section>